* {
    box-sizing: border-box;
}

header {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 98px;
}

h2 {
    font:  400 30px/1.2 "Playfair Display", sans-serif;
    color: #626262;
    padding-top: 26px;
}

h3 {
    text-transform: uppercase;
    font:  300 14px/1.2 "Ubuntu", sans-serif;
    color: #b4ad9e;
    padding-top: 30px;
}

img {
    width: 100%;
}

button {
    margin: 0 auto 70px;
    display: block;
    border: solid 1px #626262;
    padding: 18px 32px;
    background: none;
    font:  400 20px/24px "Playfair Display", sans-serif;
    color: #626262;
    cursor: pointer;
}

.list-item {
    display: inline-block;
    text-transform: uppercase;
}

.list-item+.list-item {
    margin-left: 106px;
}

.menu-list-items {
    list-style: none;
}

.menu-list-items .list-item a {
    text-decoration: none;
}

.menu-list-items .list-item a, .text-info {
    color: #626262;
    font:  400 14px/24px "Playfair Display", sans-serif;
}

.text-info {
    padding-top: 34px;
}

.menu-list-items .list-item a:hover {
    color: #03a9f4;
}

.sections {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 52px;
}

.section {
    width: 420px;
    display: inline-block;
    padding-bottom: 130px;
}

.sections .section:nth-last-child(-n+2) {
    padding-bottom: 0;
}

.left-col {
    margin-right: 56px;
}